<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:include="CDN.html">
<meta charset="ISO-8859-1">
<title>Conferma registrazione</title>
</head>
<body>
<div th:insert="nav.html"></div>
	<div class="container">
		<div class="page-header">
			<h3>Conferma registrazione</h3>
			<div class="panel panel-primary">
			<div class="panel panel-heading">
					<p>Registrazione avvenuta con successo</p>
				</div>
			<div class="panel panel-body">
				<a th:href="@{/}">Torna alla home</a>
			</div>
			</div>
		</div>
	</div>		
</body>
</html>